.sign__button {
    background-color: #fff;
    margin: 142px 0 20px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    border: none;
    border-radius: 2px;
    transition: opacity 0.2s ease-out;
}
.sign__button:hover {
    opacity: 0.8;
    cursor: pointer;
}
@media screen and (min-width: 1024px) {
    .sign__button {
        margin: 186px 0 15px;
        font-size: 18px;
        line-height: 22px;
    }
}