.sign__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    box-sizing: border-box;
    margin: 40px auto;
}
@media screen and (min-width: 1024px) {
    .sign__container {
        width: 358px;
        margin: 60px auto 80px;
    }
}